html {
    box-sizing: border-box;
    font-size: 60%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60%;
    line-height: 60%;
    background-color: rgb(129, 24, 216);
    color: white;
    background-image: url(../images/bg-desktop.svg);
    text-align: center;
    box-sizing: border-box;
}

.contenedor_padre {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    font-size: 60%;
}

.contenedor_primario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 100%;
}

.images {
    padding: 100px;
}

.boton {
    display: inline-block;
    width: 83%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    background-color: white;
    color: rgb(129, 24, 216);
    border-radius: 160px;
    padding: 16px;
}

.imagen_primera {
    width: 52%;
    margin-bottom: 50px;
}

.parrafo {
    width: 41%;
    padding-top: 112px;
}

.parrafo__text {
    margin-bottom: 85px;
}

.parrafo__text h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.parrafo__text p {
    line-height: 18px;
    margin-bottom: 58px;
}

@media (min-width: 768px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        text-align: left;
        background-size: cover;
    }
    .contenedor_padre {
        width: 90%;
        height: 900px;
    }
    .contenedor_primario {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .images {
        width: 55%;
        padding: 80px 0 0 0;
    }
    .boton {
        width: 37%;
        font-size: 25px;
        padding: 20px;
    }
    .imagen_primera {
        width: 30%;
        margin-bottom: 125px;
    }
    .parrafo {
        width: 41%;
        padding-top: 112px;
    }
    .parrafo__text {
        margin-bottom: 0;
    }
    .parrafo__text h1 {
        font-size: 40px;
        margin-bottom: 32px;
    }
    .parrafo__text p {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-bottom: 28px;
    }
}